<?xml version="1.0" encoding="GBK" ?>


<web-app id="WebApp_ID" version="2.4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xmlns="http://java.sun.com/xml/ns/j2ee">
	<!--  JMX Manager setting param load by startuplistener -->
	<!--  EMPLog setting param load by startuplistener -->
	<!--  EMP Startup Listener to startup EMP -->
	<context-param>
		<param-name>logImplClass</param-name>
		<param-value>com.ecc.emp.log.EMPLog4jLog</param-value>
	</context-param>
	<context-param>
		<param-name>resourceFileName</param-name>
		<param-value>WEB-INF/commons/resource.xml</param-value>
	</context-param>
	<context-param>
		<param-name>logFileName</param-name>
		<param-value>WEB-INF/empLog.log</param-value>
	</context-param>
	<context-param>
		<param-name>logSettingFile</param-name>
		<param-value>WEB-INF/commons/logging.xml</param-value>
	</context-param>
	<context-param>
		<param-name>JMXContextFile</param-name>
		<param-value>WEB-INF/EMPJMXContext.xml</param-value>
	</context-param>
	<context-param>
		<param-name>functionFileName</param-name>
		<param-value>WEB-INF/commons/function.xml</param-value>
	</context-param>
	<filter>
		<filter-name>HelloWorldEncoding</filter-name>
		<filter-class>com.ecc.emp.web.jsptags.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>HelloWorldEncoding</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.ecc.emp.util.StartupListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>HelloWorldServlet</servlet-name>
		<servlet-class>com.ecc.emp.web.servlet.EMPRequestServlet</servlet-class>
		<init-param>
			<param-name>iniFile</param-name>
			<param-value>WEB-INF/bizs/HelloWorld/settings.xml</param-value>
		</init-param>
		<init-param>
			<param-name>enableInitialize</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>eccemp</param-value>
		</init-param>
		<init-param>
			<param-name>factoryName</param-name>
			<param-value>HelloWorld</param-value>
		</init-param>
		<init-param>
			<param-name>rootContextName</param-name>
			<param-value>rootCtx</param-value>
		</init-param>
		<init-param>
			<param-name>servletContextFile</param-name>
			<param-value>WEB-INF/mvcs/HelloWorld/empServletContext.xml</param-value>
		</init-param>
		<init-param>
			<param-name>jspRootPath</param-name>
			<param-value>WEB-INF/mvcs/HelloWorld/</param-value>
		</init-param>
		<init-param>
			<param-name>resourceFileName</param-name>
			<param-value>/WEB-INF/commons/resource.xml</param-value>
		</init-param>
		<init-param>
			<param-name>contentDivId</param-name>
			<param-value>area_content</param-value>
		</init-param>
		<init-param>
			<param-name>logType</param-name>
			<param-value>log4j</param-value>
		</init-param>
		<init-param>
			<param-name>logSettingFile</param-name>
			<param-value>WEB-INF/commons/logging.xml</param-value>
		</init-param>
		<init-param>
			<param-name>logFileName</param-name>
			<param-value>WEB-INF/empLog.log</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorldServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>